<apex:page standardController="Quote" contentType="application/vnd.ms-excel#Quotable Line Item.xls">
     <!--  <apex:relatedList list="QuoteLineItems"></apex:relatedList>-->
        <apex:pageBlock title="Quote Line Items">
            <apex:pageBlockTable value="{!Quote.QuoteLineItems}" var="Item">
                <apex:column value="{!Item.Product2Id}"/>
                <apex:column value="{!Item.Branch_Plant__c}"/>
                <apex:column value="{!Item.Product_Price__c}"/>
                <apex:column value="{!Item.Delivered_Price_per_TonOG__c}"/>
                <apex:column value="{!Item.Unit_Cost__c}"/>
                <apex:column value="{!Item.Contribution_Margin__c}"/>
                <apex:column value="{!Item.Transload_Premium__c}"/>
                <apex:column value="{!Item.Discount__c}"/>
                <apex:column value="{!Item.Quantity}"/>
                <apex:column value="{!Item.TotalPrice}"/>
              </apex:pageBlockTable>
        </apex:pageBlock>   
    
</apex:page>